@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../Poppins/Poppins-Regular.ttf");
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  line-height: 1;
  color: #fff;
}
h1,
h2,
h3,
h4,
p,
ul {
  ppadding: 0;
  margin: 0;
}
button {
  padding: 20px 10px;
  font-family: inherit;
  border: 1px solid #fff;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-weight: 600;
  font-size: 2.2em;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}
section.hero {
  background-color: #1c073e;
  height: 100vh;
}
.hero-content {
  max-width: 450px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  z-index: 1;
}
.hero-content h1 {
  font-family: inherit;
  font-size: 2.6em;
  margin-bottom: 0.7em;
  line-height: 1.1em;
}
.hero-content h1 span {
  color: #ffd500;
}
.hero-content p {
  font-size: 1em;
  margin-bottom: 2em;
}
.signup-btn {
  background-color: #fff;
  margin-right: 1em;
}
.talk-btn {
  background: none;
  color: #fff;
}
.illustration {
  overflow: hidden;
  height: 100vh;
}
.illustration svg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}
